/* cor do titulo e anual plan: RGB(114, 128, 167)
cor do botao: RGB(56, 41, 224)
cor do background:RGB(224, 232, 255)
cor do texto: RGB(245, 247, 255) ou hsl 114, 128, 167

Font size (paragraph): 16px

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap" rel="stylesheet"> */

body{
    background-color: rgb(224, 232, 255);
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    font-family: 'Red Hat Display', sans-serif;
    margin:0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10%;
   
}

#box-container{
    height: 550px;
    margin:10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

#img{
    display: flex;
    width: 100%;
    object-fit: cover;
    height: 180px;
    border-radius: 20px 20px 0 0;
 
}

#text{
     
    text-align: center;
    margin-left: 5%;
    
}

#text p{
    color:rgb(114, 128, 167); 
    font-weight: 400; 
    line-height: 20%;
}
h2{
    font-weight: 900;
    color:rgb(72, 83, 114);
    
}
#price{
    display: flex;
    width: 80%;
    height: 13%;
    background-color: rgb(245, 247, 255);
    margin-left: 10%;
    margin-top:10%;
    border-radius:10px;
    display: flex;
    align-items: stretch;
}
#description{
    display: flex;
    width: 35%;
}
#description p{
    color:rgb(114, 128, 167); 
}
#text-price{
    font-weight: 900;
    color:rgb(72, 83, 114);
}

#icon{
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

#link{
    margin-top: 8%;
    margin-left: 10%;
    
}
a{
    color: rgb(56, 41, 224);
}

#btn{
    display: flex;
    border-radius:10px; 
    cursor:pointer;  
    width: 80%;
    height: 9%;
    margin-left: 10%;
    margin-top: 8%;
    background-color: rgb(56, 41, 224);
    box-shadow: 0 10px 10px 0  rgb(114, 128, 167);
}

#btn-text{ 
    font-weight: 500;
    text-decoration: none;
    color: white;
   margin-left: 20%;
   text-align: center;
   display: inline-block;
}

#cancel{
    margin-top: 7%;
    text-align: center;
}
#cancel a{
    text-decoration: none;
    color:rgb(114, 128, 167);  
    font-weight: 900;
}

#cancel a:hover{
    color:rgb(43, 52, 78);  
}

#btn:hover{
    background-color: rgb(121, 112, 218);
}

@media only screen and (max-width: 600px) {
    body{
        background-image: url("images/pattern-background-mobile.svg");
        background-repeat: no-repeat;
        margin:0;
    }
}